
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {

    .footer_container {
        box-sizing: border-box;
        min-height: 540px;
        padding: 0 100px;
        background-color: #FFFFFF;
        user-select: none;
    }
    .footer_header {
        display: flex;
        justify-content: center;
        font: 400 16px Roboto;
        margin-top: 70px;
    }
    .footer_LabelForInput {
        display: flex;
        justify-content: center;
        font: 400 12px Roboto;
        margin-top: 16px;
    }
    .footer_ContainerForInput_message {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D7302D;
        padding-top: 15px;
    }
    .message_color{
        color: #aaa1c1;
    }

    .footer_ContainerForInput {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer_Input {
        display: flex;
        justify-content: center;
        font: 400 16px Roboto;
        margin-top: 64px;
        color: #8C8C8C;
        width: 360px;
        outline: none;
        border: none;
        border-bottom: 1px solid #D8D8D8;
    }

    .footer_button {
        font: 400 16px Roboto;
        color: #000F08;
        border: none;
        outline: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        border-bottom: 1px solid #D8D8D8;
    }
    .footer_lists_container {
        display: flex;
        margin-top: 60px;
    }
    .footer_lists_container_1block {
        margin-right: 150px;
    }
    h4 {
        font: 400 16px Roboto;
        margin: 0 0 30px;
    }
    li {
        font: 400 12px Roboto;
        list-style-type: none;
        margin-bottom: 20px;
    }
    .Footer_Li_with_icon{
        display: flex;
        align-items: flex-start;
        align-content: center;
    }
    .footer_lists_container_2block {
        margin-right: 225px;
    }
    .footer_lists_container_3block{
        margin-right: 215px;
    }
    .Facebook_svg, .Odnoklassniki_svg, .Instagram_svg{
        width: 12px;
        height: 12px;
        padding-right: 10px;
    }
    .IncrementIcon_customer_service, .IncrementIcon_info, .IncrementIcon_follow, .IncrementIcon_contact {
        display: none;
    }

}

/*mobile */
@media only screen and (max-width: 900px) {
    .footer_container {
        min-height: unset;
        padding: 0 24px;
    }
    .footer_header {
        font: 400 16px Roboto;
        margin-top: 40px;
    }
    .footer_LabelForInput {
        margin-top: 10px;
    }
    .footer_ContainerForInput {

        padding-top: 15px;

    }

    .footer_Input {
        font: 400 12px Roboto;
        margin-top: 39px;
    }
    .footer_button {
        font: 400 12px Roboto;
    }

    li{
        display: none;
    }

    .footer_lists_container {
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        border-top: 1px dashed #D8D8D8;

    }
    h4 {
        font: 400 12px Roboto;
        margin: 24px 0;
    }
    .footer_lists_container_1block {
        margin-right: unset;
        border-bottom: 1px dashed #D8D8D8;
        display: flex;
        align-items: center;
    }
    .footer_lists_container_2block, .footer_lists_container_3block {
        margin-right: unset;
    }

    .Footer_Li_with_icon {
        display: none;
    }
    .footer_lists_container_2block_div, .footer_lists_container_3block_div, .footer_lists_container_contact_us{
        border-bottom: 1px dashed #D8D8D8;
        display: flex;
        align-items: center;
    }
    .IncrementIcon_customer_service, .IncrementIcon_info, .IncrementIcon_follow, .IncrementIcon_contact {
        display: block;
        width: 8px;
        height: 8px;
        padding-right: 10px;
    }
}