
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {
    /*.col-md-1 {
        width: var(--one-col-width);
    }

    .col-md-2 {
        width: calc(var(--one-col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--one-col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--one-col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--one-col-width) * 5);
    }

    .col-md-6 {
        width: calc(var(--one-col-width) * 6);
    }

    .col-md-7 {
        width: calc(var(--one-col-width) * 7); !*50%*!
    }

    .col-md-8 {
        width: calc(var(--one-col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--one-col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--one-col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--one-col-width) * 11);
    }

    .col-md-12 {
        width: calc(var(--one-col-width) * 12);
    }

    .col-md-13 {
        width: calc(var(--one-col-width) * 13);
    }

    .col-md-14 {
        width: 100%;

    /*section3*/

    .header_container_black {
        font: 400 12px Roboto;
        color: black;
    }

    .header_container {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 60px 15px;
    }

    .header_element_p1, .header_element_p2 {
        padding-right: 40px;
    }

    .header_container_NEW_ARRIVALS {
        box-sizing: border-box;
        max-width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Hamburger, .HamburgerBlack, .ShoppingCart{
        display: none;
    }
    .header_element_logo{
        display: flex;
        justify-content: center;
    }
    .header_container_right_side{
        box-sizing: border-box;
        max-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_search_container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        margin: unset;
    }

    .Logo {
        width: 240px;
        height: 25px;
    }

    .SearchIcon {
        width: 14px;
        height: 14px;
        padding-right: 5px;
    }
    .header_element_wishlist, .header_element_bag{
        padding-left: 40px;
    }
    .header_element_sign{
        padding-left: 34px;
    }
    .header_element_sign_out{
        padding-left: 30px;
    }

    .WishListIcon {
        width: 14px;
        height: 14px;
    }

}

@media only screen and (max-width: 992px) {
    .header_element_p3 {
        display: none;
    }
    .header_element_sign, .header_element_sign_out {
        display: none;
    }
    .header_search_p{
        display: none;
    }
    .main_container_NEW_COLLECTION {
        margin-top: 170px;
    }
}

/*mobile */
@media only screen and (max-width: 768px) {
    /* :root {
         --col-width: calc(100% * 1 / 6);
     }

     .col-sm-1 {
         width: var(--col-width);
     }

     .col-sm-2 {
         width: calc(var(--col-width) * 2);
     }

     .col-sm-3 {
         width: calc(var(--col-width) * 3); !* 50% *!
     }

     .col-sm-4 {
         width: calc(var(--col-width) * 4);
     }

     .col-sm-5 {
         width: calc(var(--col-width) * 5);
     }

     .col-sm-6 {
         width: 100%;
     }*/
    .container_for_background{
        max-height: 440px;
        min-height: unset;
    }

    .header_container {
        padding: 20px 10px 20px;
    }
    .header_element_p1 p, .header_element_p2, .header_element_p3 {
        display: none;
    }

    .Hamburger, .HamburgerBlack, .ShoppingCart{
        display: block;
    }
    .Hamburger, .HamburgerBlack {
        width: 22px;
        height: 16px;

    }
    .header_search_p, .header_element_sign, .header_element_bag_p{
        display: none;
    }

    .Logo {
        width: 145px;
        height: 15px;
    }
    .header_container_right_side {
        align-items: baseline;
    }

    .header_element_bag {
        padding-left: 20px;
    }
    .ShoppingCart {
        width: 14px;
        height: 16px;
    }

    .SearchIcon {
        width: 16px;
        height: 16px;
        padding-right: unset;
    }
    .header_element_wishlist{
        padding-left: 20px;
    }

    .WishListIcon {
        width: 18px;
        height: 16px;
    }

}