
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 1440px) {
    /*.col-md-1 {
        width: var(--one-col-width);
    }

    .col-md-2 {
        width: calc(var(--one-col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--one-col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--one-col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--one-col-width) * 5);
    }

    .col-md-6 {
        width: calc(var(--one-col-width) * 6);
    }

    .col-md-7 {
        width: calc(var(--one-col-width) * 7); !*50%*!
    }

    .col-md-8 {
        width: calc(var(--one-col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--one-col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--one-col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--one-col-width) * 11);
    }

    .col-md-12 {
        width: calc(var(--one-col-width) * 12);
    }

    .col-md-13 {
        width: calc(var(--one-col-width) * 13);
    }

    .col-md-14 {
        width: 100%;}*/

    .container_for_background {
        background-image: url("../../images/background.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 840px;
        min-height: 100vh;
    }

    header {
        font: 400 12px Roboto;
        color: #FFFFFF;
    }

    .header_container {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 60px 0;
    }

    .header_element_p1, .header_element_p2 {
        padding-right: 40px;
    }

    .header_container_NEW_ARRIVALS {
        box-sizing: border-box;
        max-width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Hamburger, .ShoppingCart{
        display: none;
    }
    .header_element_logo{
        display: flex;
        justify-content: center;
    }
    .header_container_right_side{
        box-sizing: border-box;
        max-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_search_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    p {
        margin: unset;
    }

    .Logo {
        width: 240px;
        height: 25px;
    }

    .SearchIcon {
        width: 14px;
        height: 14px;
        padding-right: 5px;
    }
    .header_element_wishlist, .header_element_bag{
        padding-left: 40px;
    }
/*    .header_element_bag{
      color: black;
    }*/
    .header_element_sign{
        padding-left: 34px;
    }
    .header_element_sign_out{
       padding-left: 30px;
    }

    .WishListIcon {
        width: 14px;
        height: 14px;
    }

    .main_container_NEW_COLLECTION {
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 150px;
        margin-top: 360px; /*немного побольше*/
    }

    h1 {
        font: 700 38px Roboto;
        color: #FFFFFF;
        margin: unset;
        padding: unset;
    }

    .main_element_text {
        font: 400 16px Roboto;
        color: #FFFFFF;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .main_element_button {
        font: 400 16px Roboto;
        color: #FFFFFF;
        height: 50px;
        width: 240px;
        border: 1px solid #FFFFFF;
        outline: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .header_element_p3 {
        display: none;
    }
    .header_element_sign, .header_element_sign_out {
        display: none;
    }
    .header_search_p{
        display: none;
    }
    .main_container_NEW_COLLECTION {
        margin-top: 170px;
    }
}

/*mobile */
@media only screen and (max-width: 768px) {
    .container_for_background{
        max-height: 440px;
        min-height: unset;
    }

    .header_container {
        padding: 20px 10px 0;
    }
    .header_element_p1 p, .header_element_p2, .header_element_p3 {
        display: none;
    }

    .Hamburger, .ShoppingCart{
        display: block;
    }
    .Hamburger {
        width: 22px;
        height: 16px;
        fill: #FFFFFF;
    }
    .header_search_p, .header_element_sign, .header_element_bag_p{
        display: none;
    }

    .Logo {
        width: 145px;
        height: 15px;
    }
    .header_container_right_side {
        align-items: baseline;
    }

    .header_element_bag {
        padding-left: 20px;
    }
    .ShoppingCart {
        width: 14px;
        height: 16px;
    }

    .SearchIcon {
        width: 16px;
        height: 16px;
        padding-right: unset;
    }
    .header_element_wishlist{
        padding-left: 20px;
    }

    .WishListIcon {
        width: 18px;
        height: 16px;
    }
    .main_container_NEW_COLLECTION{
        justify-content: center;
        align-items: center;
        margin-left: unset;
        margin-top: 360px;
        background-color: white;
    }

    .main_element_text, h1, .main_element_button{
      color: black;
    }

    h1{
        font: 700 32px Roboto;
        line-height: 38px;
        padding-top: 40px;
        max-width: 190px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_element_text{
        font: 400 12px Roboto;
        line-height: 18px;
        text-align: center;
        margin: 20px 0;
    }
    .main_element_button {
        font: 400 14px Roboto;
        color: black;
        height: 40px;
        width: 220px;
        border: 1px solid black;
    }
}