
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {
    .PageItems_container {
        box-sizing: border-box;
        padding: 0 60px 0 0;
        background-color: #FFFFFF;
        user-select: none;
    }

    .PageItems_container {
        display: flex;
    }
    .PageImage1_container, .PageImage2_container {
        max-width: 540px;
        min-height: 812px;
    }
    .PageImage1, .PageImage2 {
        width: 100%;
        height: 100%;
        max-width: 540px;
        min-height: 812px;
    }
    .Page_description {
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        justify-content: flex-start;
    }
    h5 {
        font: 400 16px Roboto;
        margin: 40px 0 20px;
    }
    .page_price {
        font: 400 12px Roboto;
        margin: 0 0 10px;
    }
    .page_pre_order {
        font: 400 12px Roboto;
        margin: 0 0 30px;
        color: #D8D8D8;
    }
    .page_color, .page_size_header {
        color: #8C8C8C;
        font: 400 12px Roboto;
        margin: 0 0 10px;
    }
    .page_size_header {
       margin-bottom: 20px;
    }
    .ColorBox{
        width: 34px;
        height: 34px;
        margin-bottom: 30px;
        border: 1px solid white;
        outline: 1px solid black;
    }
    .page_size_container{
        display: flex;
        margin-left: -10px;
    }
    .page_size_item {
        padding: 0 10px 5px;
        margin: 0;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color 0.2s;
    }

    .page_size_item:hover {
        border-bottom: 1px solid black;
        transition: border-bottom-color 0.5s;
    }

    .pages_container {
        display: flex;
        padding-top: 40px;
    }
    .page_button, .page_button_wishlist {
        font: 400 16px Roboto;
        color: #FFFFFF;
        height: 50px;
        width: 190px;
        border: none;
        outline: none;
        background-color: #000F08;
        overflow: hidden;
        cursor: pointer;
    }
    .page_button_wishlist {
        width: 50px;
        margin-left: 1px;
    }
    .WishListIcon {
        padding-top: 3px;
        width: 18px;
        height: 16px;
    }
    .description_container {
        display: flex;
        padding-top: 40px;
        align-items: center;
    }
    .IncrementIcon_description{ /*+*/
        display: none;
        width: 7px;
        height: 7px;
        padding-right: 17px;
    }
    .IncrementIcon_description:first-child{
        display: block;
    }
    .DecrementIcon_description{ /*-*/
        width: 7px;
        height: 1px;
        padding-right: 17px;
    }
    .description_header{
        font: 400 12px Roboto;
        margin: 0;
    }
    .description {
        margin: 20px 0 0;
        font: 400 12px Roboto;
        color: #8C8C8C;
        line-height: 18px;
        max-width: 215px;
    }
    .shipping_container, .fabric_container{
        display: flex;
        padding-top: 30px;
        align-items: center;
    }
    .IncrementIcon_shipping{
        width: 7px;
        height: 7px;
        padding-right: 17px;
    }
    .DecrementIcon_shipping{
       width: 7px;
        height: 1px;
        padding-right: 17px;
    }
}

/*mobile */
@media only screen and (max-width: 1200px) {
    .PageItems_container {
      padding: unset;
        flex-flow: column;
    }

    .PageImage2_container{
        display: none;
    }

    .PageImage1 {
        width: 100%;
        height: auto;
        max-width: unset;
        min-height: unset;
        object-fit: fill;
    }
    .PageImage1_container{
        max-width: unset;
        min-height: unset;
        display: flex;
        justify-content: center;
    }

    .Page_description {
        padding-left: 40px;
    }
}