
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 1440px) {
    .search_container {
        display: flex;
        align-items: stretch;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        max-width: 350px;
        height: 35px;
        position: absolute;
        left: 60%;
    }
    .search_input{
        display: flex;
        font: 400 18px Roboto;
        color: white;
        width: 400px;
        padding-left: 10px;
        outline: none;
        border: 1px solid white;
        border-right: none;
        background-color: transparent;
    }
    .search_button{
        font: 400 18px Roboto;
        color: white;
        width: 140px;
        border: 1px solid white;
        outline: none;
        background-color: Transparent;
        border-left: none;
    }

}

/*mobile */
@media only screen and (max-width: 851px) {

}