
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 1440px) {
    .search_container {
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        max-width: 350px;
        height: 35px;
        position: absolute;
        right: 10%;
    }
    .search_input{
        display: flex;
        font: 400 16px Roboto;
        color: #FFFFFF;
        width: 400px;
        padding-bottom: 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
    }
    .search_input::placeholder{
        color: #FFFFFF;
    }
    .search_close_icon{
        width: 20px;
        height: 20px;
        color: #FFFFFF;
        padding-right: 20px;
        cursor: pointer;
    }

    .search_button{
        font: 400 18px Roboto;
        color: white;
        width: 140px;
        border: 1px solid white;
        outline: none;
        background-color: Transparent;
        border-left: none;
    }

}

/*mobile */
@media only screen and (max-width: 900px) {
    .search_container {
        max-width: 200px;
        height: 35px;
        position: absolute;
        right: 5%;
    }
    .search_input{
        font: 400 14px Roboto;
        width: 300px;
        padding-bottom: 3px;
    }

    .search_close_icon{
        width: 15px;
        height: 15px;
        padding-right: 10px;
    }

}