
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {
    /*.col-md-1 {
        width: var(--one-col-width);
    }

    .col-md-2 {
        width: calc(var(--one-col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--one-col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--one-col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--one-col-width) * 5);
    }

    .col-md-6 {
        width: calc(var(--one-col-width) * 6);
    }

    .col-md-7 {
        width: calc(var(--one-col-width) * 7); !*50%*!
    }

    .col-md-8 {
        width: calc(var(--one-col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--one-col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--one-col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--one-col-width) * 11);
    }

    .col-md-12 {
        width: calc(var(--one-col-width) * 12);
    }

    .col-md-13 {
        width: calc(var(--one-col-width) * 13);
    }

    .col-md-14 {
        width: 100%;

    /*section3*/
    .section_header {
        margin: 90px 0 0;
        font: 400 34px Roboto;
        color: #000F08;
        display: flex;
        justify-content: center;
    }
    .section3Modniky_container {
        box-sizing: border-box;
        min-height: 710px;
        padding: 0 100px;
        background-color: #FFFFFF;
    }
    .spinner_container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        position: relative;
        /*
        max-width: calc(100% - var(--one-col-width) * 2);
        */
    }
    .arrow_position_right {
        position: absolute;
        right: -1%;
        top: 15rem; /*calc(100% - 20px);*/
        z-index: 2;
    }

    .arrow_right {
        width: 50px;
        height: 50px;
    }
    .arrow_position_left {
        position: absolute;
        left: -2%;
        top: 15rem;
        z-index: 2;
    }
    .arrow_left {
        width: 50px;
        height: 50px;
        transform: rotate(180deg);
    }

    .section3Modniky_container_ALL_items{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      /*  justify-content: space-between;*/
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;
        margin-bottom: 45px;
        margin-top: 80px;
    }
    /*общий чилдрен */
    .section3Modniky_Item {
     /*   margin-right: 0.5rem;*/
        margin-bottom: 45px;
     /*   width: 25%;*/
       /* box-sizing: border-box;*/
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;
     /*   width: 25%;*/
      /*  flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 26%;*/
    }

    .section3Modniky_Item_Card {
        position: relative;
        max-width: 300px;
        max-height: 400px;
        margin-right: 0.7rem;
    }
    .section3Modniky_Item_Card:last-child {
        margin-right: 0;
    }

    .section3Modniky_Item_Card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 15, 8, 0.6);
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: .65s opacity, .65s visibility;
    }

    .section3Modniky_Item_Card:hover::before {
        opacity: 1;
        transition: .65s opacity, .65s visibility;
    }

    .section3Modniky_Item_Card .ImageOfCatalog_btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        color: #000F08;
        font: 400 18px Roboto;
        border-radius: 48px;
        outline: none;
        width: 170px;
        height: 40px;
        border: 1px solid gray;
    }

    .section3Modniky_Item_Card:hover .ImageOfCatalog_btn {
        display: inline-block;
    }

    .ImageOfCatalog{
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 400px;
        object-fit: fill;
    }

    .Like_svg {
        right: 12px;
        width: 31px;
        height: 28px;
        position: absolute;
        z-index: 2;
        top: 12px;
    }
    .Sale {
        box-sizing: border-box;
        width: 45px;
        height: 25px;
        background-color: #D7302D;
        color: #FFFFFF;
        font: 400 14px Roboto;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Items_name {
        font: 400 18px Roboto;
        padding-top: 15px;
    }
    .Chain_Prices {
        display: flex;
        align-items: baseline;
        margin-top: 15px;
    }
    .PriceBeforeSale {
        margin: 0 12px 0 0;
        color: #000F08;
        font: 400 18px Roboto;
        text-decoration-line: line-through;
    }
    .Price {
        margin: 0;
        color: #D7302D;
        font: 700 20px Roboto; /*bold 700 problems*/
    }









}

/*mobile */

@media only screen and (max-width: 900px) {
    :root {
        --col-width: calc(100% * 1 / 6);
    }

    .col-sm-1 {
        width: var(--col-width);
    }

    .col-sm-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-sm-3 {
        width: calc(var(--col-width) * 3); /* 50% */
    }

    .col-sm-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-sm-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-sm-6 {
        width: 100%;
    }
    .responce {max-width: 900px;}


    .section_header {
        margin: 40px 0 0;
        font: 400 32px Roboto;
    }

    .section3Modniky_container{
        padding: 0 25px;
        min-height: unset;

    }
    .arrow_position_right { /*fix this*/
        position: absolute;
        right: -1%;
        top: 15rem; /*calc(100% - 20px);*/
        z-index: 2;
    }
    .arrow_right, .arrow_left  {
        width: 32px;
        height: 32px;
    }
    .section3Modniky_Item:nth-child(2n){
        display: none;
    }





}