
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {
   .SectionFilters_container {
        box-sizing: border-box;
        padding: 0 100px;
        background-color: #FFFFFF;
    }
    .sectionFilters_header {
        margin: 90px 0 0;
        font: 400 34px Roboto;
        color: #000F08;
        display: flex;
        justify-content: center;
    }
    /*родитель фильтра*/
    .sectionFilters_Item_All_items_container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 45px;
        margin-top: 80px;
      /*  justify-content: space-between;*/
    }
    .Like_svg {
        position: absolute;
        right: 12px;
        width: 31px;
        height: 28px;
        z-index: 2;
        top: 12px;
    }
    .ImageOfCatalog {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 400px;
        object-fit: fill;
    }
    .Filter_Price {
        font: 700 20px Roboto;
        color: #000F08;
        margin: 0;
    }
    .SectionFilters_notFound_container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .SectionFilters_notFound {
        margin: 30px 0 80px;
        font: 400 24px Roboto;
        color: #000F08;
        display: flex;
        justify-content: center;
    }
    .Button_container {
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    .Button_show_more {
        font: 400 20px Roboto;
        color: #000F08;
        height: 50px;
        width: 240px;
        border: 1px solid #000F08;
        outline: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
    }

}

/*mobile */
@media only screen and (max-width: 900px) {

}