
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 2880px) {
   .section4Shop_container {
        box-sizing: border-box;
        min-height: 820px;
        padding: 0 100px;
        background-color: #FFFFFF;
    }
    .section4Shop_container_flex_for_block {
        display: flex;
        align-content: stretch;
        justify-self: stretch;
        align-self: stretch;
        justify-content: center;
    }

    .section4Shop_1block_content {
        display: flex;
        flex-direction: column;

        margin: 80px auto 0;
        /*
        max-width: calc(100% - var(--one-col-width) * 2);
        */
    }

    .section4Shop_1block_name{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 30px;
        font: 400 16px Roboto;
    }
    .section4Shop_1block_name p {
        margin: 0;
    }
    .section4Shop_1block_name_SHOP_INSTAGRAM {
        padding-right: 60px;
    }
    .section4Shop_1block_name_SHOP {
        padding-right: 13px;
    }
    .NextIcon_svg {
        width: 12px;
        height: 24px;
    }
    .section4Shop_1block_container_for_image {
        margin: 0;
        padding: 0;
        width: 615px;
        height: 625.5px;
    }

    .Mask_svg {
        width: 100%;
        height: 100%;
        max-width: 630px;
        max-height: 630px;
        margin: 0;
        padding: 0;
    }

    .section4Shop_1block_name_MODNIKY {
        font: 400 16px Roboto;
        margin: 30px 0 0;
    }

    .section4Shop_2block_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: column;
        align-content: stretch;
        justify-self: stretch;
    }
    .section4Shop_2block_photo1_2{
        display: flex;
        align-items: baseline;

    }
    .section4Shop_2block_photo3_4{
        display: flex;
        align-items: baseline;

    }

    .Mask1_svg, .Mask2_svg, .Mask3_svg, .Mask4_svg{
        width: 100%;
        height: 100%;
        max-width: 313px;
        max-height: 313px;
    }
    .section4Shop_2block_container_for_image {
        width: 305px;
        height: 313px;
    }
    .section4Shop_1block_name_MODNIKY_response{
        display: none;
    }

}

/*mobile */
@media only screen and (max-width: 1300px) {
    .section4Shop_container{
        padding: 0 4px;
        min-height: unset;
    }
    .section4Shop_container_flex_for_block {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section4Shop_1block_content {
        margin: 40px 0 0;
        align-self: center;
    }
    .section4Shop_1block_name{
        margin: 0 0 20px;
        font: 400 12px Roboto;
        align-self: flex-start;
    }
    .section4Shop_1block_name_SHOP_INSTAGRAM {
        padding-right: 40px;
    }
    .section4Shop_1block_name_SHOP {
        padding-right: 8px;
    }
    .NextIcon_svg {
        width: 10px;
        height: 12px;
    }
    .section4Shop_1block_container_for_image, .section4Shop_2block_container_for_image {
        max-width: unset;
        max-height: unset;
        width: 100%;
        height: auto;
        min-width: 410px;
        object-fit: fill;
    }
    .Mask_svg{
        width: 100%;
        height: auto;
    }

     .Mask1_svg, .Mask2_svg, .Mask3_svg, .Mask4_svg {
         max-width: unset;
         max-height: unset;
         width: 100%;
         height: auto;
         min-width: 410px;
         object-fit: cover;
    }
    .section4Shop_1block_name_MODNIKY {
        display: none;/*надпись перенести*/
    }
    .section4Shop_2block_content {
        align-items: center;

    }
    .section4Shop_2block_photo1_2{
        flex-direction: column;


    }
    .section4Shop_2block_photo3_4{
        flex-direction: column;
        justify-content: space-between;

    }
    .section4Shop_1block_name_MODNIKY_response{
        display: block;
        padding-top: 35px;
        font: 400 12px Roboto;
    }

}