
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 1440px) {
    .section_header {
        margin: 90px 0 0;
        font: 400 34px Roboto;
        color: #000F08;
        display: flex;
        justify-content: center;
    }
    .section2Category_container {
        box-sizing: border-box;
        min-height: 395px;
        padding: 0 105px;
        background-color: #FFFFFF;
    }
    .section2Category_container_ALL_items{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 85px;
        /*flex-wrap: wrap;*/
    }
    .section2Category_container_items {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 195px;
        height: 90px;
        background-color: #ede7f0;
        margin-right: 12px;
        transition: .1s background-color;
    }
    .section2Category_container_items:hover{
        background-color: #aaa1c1;
        transition: .1s background-color;
    }
     .section2Category_no_active {
        background-color: #ede7f0;
    }

    .section2Category_active {
        background-color: #aaa1c1;
    }

    .section2Category_container_items:last-child {
        margin-right: 0;
    }
    .dress_svg {
        width: 30px;
        height: 50px;
    }
    .dress_name {
        font: 400 24px Roboto;
        padding-left: 9px;
    }
    .tees_svg { /**/
        width: 50px;
        height: 40px;
    }
    .Swimwear_svg {
        width: 30px;
        height: 50px;
    }
    .Denim_svg {
        width: 22px;
        height: 50px;
    }
    .Tops_svg {
        width: 35px;
        height: 50px;
    }
    .Beauty_svg {
        width: 35px;
        height: 50px;
    }

}

@media only screen and (max-width: 1220px) {
    .section_header {
        margin: 275px 0 0;
        font: 400 32px Roboto;
    }

    .section2Category_container{
        padding: 0 25px 0;
    }
    .section2Category_container_items {
        max-width: 180px;
        max-height: 80px;
        margin: 0 0 20px;
    }
    .section2Category_container_ALL_items{
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .section2Category_container_items:last-child{
        margin-right: unset;
    }
    .dress_svg {
        width: 25px;
        height: 40px;
    }
    .dress_name {
        font: 400 21px Roboto;
        padding-left: 15px;
    }
    .tees_svg { /**/
        width: 40px;
        height: 40px;
    }
    .Swimwear_svg {
        width: 25px;
        height: 40px;
    }
    .Denim_svg {
        width: 20px;
        height: 40px;
    }
    .Tops_svg {
        width: 30px;
        height: 40px;
    }
    .Beauty_svg {
        width: 25px;
        height: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .section2Category_container{
        padding: 25px 25px 0;
    }
    .section2Category_container_items {
        width: 170px;
        height: 70px;
    }
}