
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/Roboto-400-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("../../fonts/Roboto-500-l.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/Roboto-700-l.woff2") format("woff2");
}
@media (max-width: 1440px) {
    .sign_container {
        background-color: #BDBDBD;
        max-height: 840px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign_container_window {
        box-sizing: border-box;
        width: 500px;
        height: 565px;
        background-color: #FFFFFF;
    }
    .sign_container_window_signIN{
        box-sizing: border-box;
      /*  width: 500px;
        height: 350px;*/
        background-color: #FFFFFF;
    }
    .sign_window_content {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .sign_window_header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
    }
    .sign_window_header {
        font: 400 16px Roboto;
        margin: 0;
    }
    .CloseIcon{
        width: 16px;
        height: 16px;
    }
    .sign_Input_First_Name {
        display: flex;
        justify-content: center;
        font: 400 12px Roboto;
        padding-bottom: 10px;
        color: #8C8C8C;
        width: 400px;
        outline: none;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 30px;
    }
    .sign_Input_checkbox_container {
        display: flex;
       /* justify-content: space-between;*/
        align-items: flex-start;
    }
    .sign_label_checkbox {
        font: 400 12px Roboto;
        line-height: 18px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .sign_agree{
        font: 400 12px Roboto;
        color: #8C8C8C;
        margin: 0 0 30px 0;
    }
    .sign_agree_underline{
        text-decoration: underline;
        color: black;
    }

    .sign_button_container{
        display: flex;
        justify-content: center;
    }
    .sign_button{
        font: 400 16px Roboto;
        color: #FFFFFF;
        height: 50px;
        width: 240px;
        border: none;
        outline: none;
        background-color: #000000;
        cursor: pointer;
        overflow: hidden;
    }
    .sign_button:hover{
        background-color: #aaa1c1;
        transition: all 0.25s ease-out;
    }
    .sign_message{
        color: #D7302D;
        margin: unset;
        padding-bottom: 10px;
    }
    .sign_have_account{
        padding-top: 30px;
        margin: 0;
        line-height: 12px;
        text-decoration: underline;
    }
}

/*mobile */
@media only screen and (max-width: 768px) {
    .sign_container {
        max-height: unset;
        min-height: 100vh;
        justify-content: space-around;
    }
    .sign_container_window_signIN{
        width: 100%;
    }

    .sign_window_content {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
    }
    .sign_Input_First_Name{
        width: unset;
        max-width: 100%;
    }
}